.loginMainDiv {
	display: none;
	position: absolute;
	right: 10px;
	background: white;
	padding: 5px;
	margin-top: 15px;
}

.loginInputDiv {
	display: flex;
	justify-content: space-between;
	margin: 11px;

}
.loginLabel {
	font-size: 1.2em;
    margin-right: 10px;
}

.loginInput {
	border: none;
	border-bottom: 1px solid blue;
    padding: 5px;
    width: 210px;
}
.loginButton {
	margin: 0px 50px;
    padding: 6px;
    width: 70px;
    background: green;
    color: white;
    border: 2px solid;
    cursor: pointer;
}
.logoutBtn {
	font-size: 25px;
	color: white;
	margin-left: 10px;
}
.kartNo {
	display: none;
    background: burlywood;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    align-items: center;
    padding: 4px;
    font-size: 1.3em;
    margin: 0px;
    margin-left: 5px;
    text-align: center;
}